<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/landing.css">

</head>
<body>


<div id="landing-header" >
    <h1>Welcome to the Yelp Camp</h1>
    <a href="/campground" class="btn btn-lg btn-success">View all campground</a>
</div>
    <!-- Carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="http://i.imgur.com/SBEmFpv.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://i.imgur.com/emvhOnb.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="http://i.imgur.com/2LSMCmJ.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<%- include ('partials/footer') %>

